@import '~antd/dist/antd.css';

.App{
    text-align: center;
}
#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #108ee9;
}

.movieItem{
    list-style: none;
    float: left;
    width: 180px;
    text-align: center;
    font-size: 16px;
    line-height: 2;
    margin:0 20px 20px;
    cursor: pointer;
}
.movieItem .title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}